.footer {
    background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    padding: 10px;
    min-width: 200px;
}

.footer-section h4 {
    margin-bottom: 10px;
    font-size: 18px;
}

.footer-section p,
.footer-section ul {
    font-size: 14px;
}

.footer-section a {
    color: #fff;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

.social-media a {
    margin: 0 10px;
    display: inline-block;
}

.social-media i{
    font-size: 1.8rem;
}

.social-media i:hover{
    color: #47bcf2;
}

.social-media #instagram:hover{
    color: red;
}

.social-media #threads:hover{
    color: gray;
}

.social-media img {
    width: 24px;
    height: 24px;
}

.footer-bottom {
    margin-top: 20px;
}