body {
    font-family: Arial, sans-serif;
    background-color: #007BFF;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    color: #fff;
    background-color: #333;
    padding: 10px 20px;
    border-radius: 8px;
    margin: 0;
}

header p {
    margin: 10px 0 0;
    color: #333;
}

header a {
    color: #007BFF;
    text-decoration: none;
}

header img {
    width: 80px;
    margin-bottom: 10px;
}

#searchBox {
    width: 100%;
    padding: 10px;
    margin-left: -10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
    white-space: nowrap;
}

table thead {
    background-color: #4CAF50;
    color: #fff;
}

table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tbody tr:hover {
    background-color: #ddd;
}

table th {
    font-weight: bold;
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.pagination button {
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.pagination span {
    font-size: 16px;
}

td button:nth-child(1){
    background-color: #4CAF50;
    color: white;
    border-radius: 8px;
    height: 32px;
}

td button:nth-child(2){
    background-color: red;
    color: white;
    border-radius: 8px;
    height: 32px;
}


@media (max-width: 600px) {
    .container {
        display: block;
        width: 100%;
        overflow-x: hidden;
    }
    
    header h1 {
        font-size: 18px;
        padding: 8px 16px;
    }

    table {
        border: 0;
    }

    table thead {
        display: none;
    }

    table tbody tr {
        display: block;
        margin-bottom: 10px;
        border-bottom: 1px solid #ddd;
    }

    table tbody td {
        display: block;
        text-align: right;
        font-size: 14px;
        border: none;
        position: relative;
        padding-left: 50%;
        padding-top: 10px;
    }

    table tbody td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        font-weight: bold;
        text-align: left;
    }
}
