body {
    font-family: Arial, sans-serif;
    /* background-color: #51beed; */
    background: linear-gradient(135deg, #1664be 0%, #6ba7e3 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
}

h2 {
    text-align: center;
    color: #333;
}

.banner {
    height: 240px;
    width: 100%;
    padding: 1rem 0rem 1rem 0rem;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-group input,
.form-group textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-group textarea {
    height: 100px;
    resize: none;
}

checkbox{
    
}

.checkbox-group {
    display: flex;
    flex-wrap: wrap;
}

.checkbox-group label {
    width: 50%;

}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-sizing: border-box;
}

button:hover {
    background-color: #45a049;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    body{
        height: 100%;
        width: 100%;
    }
    .form-group input,
    .form-group textarea {
        width: calc(100% - 10px);
    }

    .checkbox-group label {
        width: 100%;
    }
}

@media (max-width: 480px) {
    body{
        height: 100%;
        width: 100%;
    }
    .container {
        padding: 15px;
    }

    .form-group input,
    .form-group textarea {
        padding: 8px;
    }

    button {
        padding: 8px;
        font-size: 14px;
    }
}
